body{
  background-image: url("./image/Background_Image.JPG");
  margin: 0;
}
.up_center{
  width: 100%;
  background-color: #90B44B;
  position: fixed;
  top: 0;
}
.set_center{
  width: 203px;
  margin: 0 auto;
  display: block;
  border-top: 23px;
  border-bottom: 23px;
}
.douwn_left{
  color: #ffffff;
  background-color: #90B44B;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.copyright{
  animation: logoIn 2s ease-out forwards;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}
