@font-face {
  font-family: "Mamelon";
  src: url("./font/Mamelon.otf");
}
body{
  background-image: url("./image/Background_Image.JPG");
  margin: 0;
}
.up_center{
  width: 100%;
  background-color: #90B44B;
  position: fixed;
  top: 0;
}
.set_center{
  width: 203px;
  margin: 0 auto;
  display: block;
  border-top: 23px;
  border-bottom: 23px;
}
.douwn_left{
  color: #ffffff;
  background-color: #90B44B;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.go_top{
  bottom: 10px;
  right: 114px;
  position: fixed;
  z-index: 1000;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #90B44B;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #90B44B;
  position: fixed;
}
.go_top:active{
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.go_twitter{
  bottom: 10px;
  right: 46px;
  z-index: 1000;
  position: fixed;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #90B44B;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #90B44B;
  position: fixed;
}
.go_twitter:active{
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.go_youtube{
  bottom: 10px;
  right: 78px;
  position: fixed;
  z-index: 1000;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #90B44B;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #90B44B;
  position: fixed;
}
.go_youtube:active{
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.go_github{
  bottom: 10px;
  right: 12px;
  position: fixed;
  z-index: 1000;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #90B44B;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #90B44B;
  position: fixed;
}
.go_github:active{
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.clickspace{
  animation: logoIn 2s ease-out forwards;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  font-family: 'Mamelon';
}
.profile:link{
  color: #20B2AA;
}
.copyright:link{
  color: #20B2AA;
}
.specialthanks:link{
  color: #20B2AA;
}
a:link{
  color: #20B2AA;
  text-shadow: 2px 2px 3px #FFFFFF;
}
