@font-face {
  font-family: "Mamelon";
  src: url("./font/Mamelon.otf");
}
@font-face {
  font-family: "AnzuMozi";
  src: url("./font/AP.ttf");
}
body{
  background-image: url("../image/normal/Background_Image.JPG");
  margin: 0;
}
nav ul li a {
  padding: 18px;
  text-transform:uppercase;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  display: block;
}
.up_center{
  width: 100%;
  background-color: #90B44B;
  position: fixed;
  top: 0;
}
.set_center{
  width: 203px;
  margin: 0 auto;
  display: block;
  border-top: 23px;
  border-bottom: 23px;
}
.douwn_left{
  color: #ffffff;
  background-color: #90B44B;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.go_top{
  bottom: 10px;
  right: 114px;
  position: fixed;
  z-index: 1000;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #90B44B;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #90B44B;
  position: fixed;
}
.go_top:active{
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.go_twitter{
  bottom: 10px;
  right: 46px;
  z-index: 1000;
  position: fixed;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #90B44B;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #90B44B;
  position: fixed;
}
.go_twitter:active{
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.go_youtube{
  bottom: 10px;
  right: 78px;
  position: fixed;
  z-index: 1000;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #90B44B;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #90B44B;
  position: fixed;
}
.go_youtube:active{
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.go_github{
  bottom: 10px;
  right: 12px;
  position: fixed;
  z-index: 1000;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #90B44B;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #90B44B;
  position: fixed;
}
.go_github:active{
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.specialthanks{
  animation: logoIn 2s ease-out forwards;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  font-family: 'Mamelon';
}
.naz7z a:link{
  color: #20B2AA;
  transition: 1.5s;
  text-shadow: 2px 2px 3px #FFFFFF;
  text-decoration: none;
}
.naz7z a:hover{
  color: #EDAE00;
  border-left: solid 10px #EDAE00;
  border-bottom: double 2px #EDAE00;
  transition: 1.5s;
}
.Toto31010 a:link{
  color: #20B2AA;
  transition: 1.5s;
  text-shadow: 2px 2px 3px #FFFFFF;
  text-decoration: none;
}
.Toto31010 a:hover{
  color: #EDAE00;
  border-left: solid 10px #EDAE00;
  border-bottom: double 2px #EDAE00;
  transition: 1.5s;
}
.clickspace{
  animation: logoIn 2s ease-out forwards;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  font-family: 'Mamelon';
}
.profile:link{
  color: #20B2AA;
}
.copyright:link{
  color: #20B2AA;
}
.specialthanks:link{
  color: #20B2AA;
}
.updatelog{
  text-align: left;
  margin-top: 180px;
  margin-bottom: 100px;
  width: 790px;
  margin-left: auto;
  margin-right: auto;
}
.updatelog_title{
  font-family: "Mamelon";
}
.updatelog_letter_title{
  font-family: 'Mamelon';
  font-size: 35px;
  border-bottom: 1px solid #000000;
  color: #000000;
}
.updatelog_letter_plus{
  font-family: 'AnzuMozi';
  font-size: 30px;
  border-bottom: 1px solid #000000;
  color: #BE0039;
}
.updatelog_letter_minus{
  font-family: 'AnzuMozi';
  font-size: 30px;
  border-bottom: 1px solid #000000;
  color: #333399;
}
.updatelog_letter_leaf{
  font-family: 'AnzuMozi';
  font-size: 30px;
  border-bottom: 1px solid #000000;
  color: #006F5F;
}
.updatelog_letter_title p{
  margin: 0;
  margin-top: 10px;
}
.updatelog_letter_plus p{
  margin: 0;
  margin-top: 10px;
}
.updatelog_letter_minus p{
  margin: 0;
  margin-top: 10px;
}
.updatelog_letter_leaf p{
  margin: 0;
  margin-top: 10px;
}
.updatelog_letter_leaf i{
  font-size: 20px;
}
.update_note{
  width: 800px;
  padding:0 1em;
  background: #fffbf2;
  background-size: auto 2.5em;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
  overflow: hidden;
}
li{
  display: inline-block;
}
.up_center{
  width: 100%;
  background-color: #90B44B;
  position: fixed;
  top: 0;
  text-align: center;
  font-size: 15px;
}
.set_center{
  width: 203px;
  margin: 0 auto;
  display: block;
  border-top: 23px;
  border-bottom: 23px;
}
.douwn_left{
  color: #ffffff;
  background-color: #90B44B;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.go_top{
  bottom: 10px;
  right: 114px;
  position: fixed;
  z-index: 1000;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #90B44B;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #90B44B;
  position: fixed;
}
.go_top:active{
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.go_twitter{
  bottom: 10px;
  right: 46px;
  z-index: 1000;
  position: fixed;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #90B44B;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #90B44B;
  position: fixed;
}
.go_twitter:active{
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.go_youtube{
  bottom: 10px;
  right: 78px;
  position: fixed;
  z-index: 1000;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #90B44B;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #90B44B;
  position: fixed;
}
.go_youtube:active{
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.go_github{
  bottom: 10px;
  right: 12px;
  position: fixed;
  z-index: 1000;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #90B44B;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #90B44B;
  position: fixed;
}
.go_github:active{
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.clickspace{
  animation: logoIn 2s ease-out forwards;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  font-family: 'Mamelon';
}
.profile:link{
  color: #20B2AA;
}
.copyright:link{
  color: #20B2AA;
}
.specialthanks:link{
  color: #20B2AA;
}
.updatelog{
  text-align: left;
  margin-top: 180px;
  margin-bottom: 100px;
  width: 790px;
  margin-left: auto;
  margin-right: auto;
}
.updatelog_title{
  font-family: "Mamelon";
}
.updatelog_letter_title{
  font-family: 'Mamelon';
  font-size: 35px;
  border-bottom: 1px solid #000000;
  color: #000000;
}
.updatelog_letter_plus{
  font-family: 'AnzuMozi';
  font-size: 30px;
  border-bottom: 1px solid #000000;
  color: #BE0039;
}
.updatelog_letter_minus{
  font-family: 'AnzuMozi';
  font-size: 30px;
  border-bottom: 1px solid #000000;
  color: #333399;
}
.updatelog_letter_leaf{
  font-family: 'AnzuMozi';
  font-size: 30px;
  border-bottom: 1px solid #000000;
  color: #006F5F;
}
.updatelog_letter_title p{
  margin: 0;
  margin-top: 10px;
}
.updatelog_letter_plus p{
  margin: 0;
  margin-top: 10px;
}
.updatelog_letter_minus p{
  margin: 0;
  margin-top: 10px;
}
.updatelog_letter_leaf p{
  margin: 0;
  margin-top: 10px;
}
.updatelog_letter_leaf i{
  font-size: 20px;
}
.update_note{
  width: 800px;
  padding:0 1em;
  background: #fffbf2;
  background-size: auto 2.5em;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
  overflow: hidden;
}
li{
  display: inline-block;
}
.copyright{
  animation: logoIn 2s ease-out forwards;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}
.specialthanks{
  animation: logoIn 2s ease-out forwards;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  font-family: 'Mamelon';
}
.naz7z a:link{
  color: #20B2AA;
  transition: 1.5s;
  text-shadow: 2px 2px 3px #FFFFFF;
  text-decoration: none;
}
.naz7z a:hover{
  color: #EDAE00;
  border-left: solid 10px #EDAE00;
  border-bottom: double 2px #EDAE00;
  transition: 1.5s;
}
.Toto31010 a:link{
  color: #20B2AA;
  transition: 1.5s;
  text-shadow: 2px 2px 3px #FFFFFF;
  text-decoration: none;
}
.Toto31010 a:hover{
  color: #EDAE00;
  border-left: solid 10px #EDAE00;
  border-bottom: double 2px #EDAE00;
  transition: 1.5s;
}
.xCryker a:link{
  color: #20B2AA;
  transition: 1.5s;
  text-shadow: 2px 2px 3px #FFFFFF;
  text-decoration: none;
}
.xCryker a:hover{
  color: #EDAE00;
  border-left: solid 10px #EDAE00;
  border-bottom: double 2px #EDAE00;
  transition: 1.5s;
}
.distribution_plugin{
  animation: logoIn 2s ease-out forwards;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  font-family: 'Mamelon';
}
.fireworks{
  font-family: "AnzuMozi"
}
.set_introduction{
  text-align: center;
  margin-top: 71px;
  margin-bottom: 100px;
  width: 750px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}
.set_icon_and_name{
  text-align: center;
}
.icon{
  text-align: center;
}
.set_icon{
  width: 212px;
  height: 300px;
  border-radius: 50%;
}
.set_bold{
  font-weight: bold;
}
.set_color{
  color: #BE0032;
  background-color: #FFFF00;
}
.set_left{
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}
